* {
  backface-visibility: hidden;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary: #B3FF03;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --grayHard:#141414;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --valid: #19da00;
  --invalid: #da0000;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grayHard);
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
